# Assignment
Name : Muhammad Tahir
Roll No: PIAIC71675
Course: AI
City : Islamabad

In [22]:
print(name)
print(name.capitalize())

muhammad tahir
Muhammad tahir

In [21]:
name1="MUHAMMAD TAHIR"
print(name1)
print(name1.casefold())

MUHAMMAD TAHIR
muhammad tahir

In [23]:
print(name1)
print(name1.center(100))

MUHAMMAD TAHIR
                                           MUHAMMAD TAHIR

In [24]:
print(name)
print(name.count("m"))

muhammad tahir
3

In [39]:
name2='pythön!'
print(name2)
print(name2.encode())
print(name2.encode("ascii", "ignore"))
print(name2.encode("ascii", "replace"))

pythön!
b'pyth\xc3\xb6n!'
b'pythn!'
b'pyth?n!'

In [54]:
name3="i love my country."
print(name3.endswith('love'))
print(name3.endswith('my country.'))

False
True

In [57]:
name4="i\tlove\tmy\tcountry."
print(name4.expandtabs(10))
print(name4.expandtabs(20))
print(name4.expandtabs(3))

i         love      my        country.
i                   love                my                  country.
i  love  my country.

In [59]:
print(name3)
print(name3.find("country."))

i love my country.
10

In [61]:
print("i name {},i am {} years old.".format("Tahir", 22))

i name Tahir,i am 22 years old.

In [66]:
class Coordinate(dict):
    def __missing__(self, key):
      return key
print('({x}, {y})'.format_map(Coordinate(x='6')))
print('({x}, {y})'.format_map(Coordinate(y='5')))
print('({x}, {y})'.format_map(Coordinate(x='6', y='5')))

(6, y)
(x, 5)
(6, 5)

In [73]:
sentence = 'i love my country.'

result = sentence.index('my')
print("'my':", result)

'my': 7

In [76]:
name5="muhammadtahir"
print(name2)
print(name2.isalnum())
print(name5)
print(name5.isalnum())

i love my country.
False
muhammadtahir
True

In [77]:
name5="muhammadtahir"
print(name2)
print(name2.isalpha())
print(name5)
print(name5.isalpha())

i love my country.
False
muhammadtahir
True

In [78]:
s = "28212"
print(s.isdecimal())

s = "32ladk3"
print(s.isdecimal())

True
False

In [79]:
s = "28212"
print(s.isdigit())


s = "Mo3 nicaG el l22er"
print(s.isdigit())

True
False

In [81]:
str = 'Python'
print(str.isidentifier())

str = 'Py thon'
print(str.isidentifier())

True
False

In [82]:
s = 'tahir'
print(s.islower())

s = 'taHIr'
print(s.islower())

True
False

In [83]:
s = '1242323'
print(s.isnumeric())
s='python12'
print(s.isnumeric())

True
False

In [84]:
s = 'Tahir'
print(s)
print(s.isprintable())

s = '\nTahir'
print(s)
print(s.isprintable())

Tahir
True

Tahir
False

In [91]:
s = ' '
print(s.isspace())

s = '  t '
print(s.isspace())

True
False

In [93]:
s = 'I Love My Country.'
print(s.istitle())

s = 'I cove cy country'
print(s.istitle())

True
False

In [95]:
string = "TAHIR"
print(string.isupper());

string = "Tahir"
print(string.isupper());

True
False

In [96]:
s1 = 'abc'
s2 = '123' 
print( s1.join(s2)) 
print( s2.join(s1))

1abc2abc3
a123b123c

In [102]:
string = 'cat'
width = 6
print(string.ljust(width,"5"))

cat555

In [103]:
string = 'cat'
width = 6
print(string.rjust(width,"5"))

555cat

In [106]:
print(name1)
print(name1.lower())

MUHAMMAD TAHIR
muhammad tahir

In [107]:
print(name)
print(name.upper())

muhammad tahir
MUHAMMAD TAHIR

In [109]:
print(name)
print(name.swapcase())
print(name1)
print(name1.swapcase())

muhammad tahir
MUHAMMAD TAHIR
MUHAMMAD TAHIR
muhammad tahir

In [138]:
string = '   muhammad tahir '
print(string.lstrip())

print(string.lstrip('m '))

muhammad tahir
uhammad tahir

In [168]:
string = "  muhammad tahir  "
print(string.rstrip())
 
print(string.rstrip(' ir'))

  muhammad tahir
  muhammad tah

In [197]:
string = ' 1234 tahir 1234 '
print(string.strip())
 
print(string.strip('1234rt '))

1234 tahir 1234
ahi

In [203]:
string = "I love my country"


print(string.partition("my"))

('I love ', 'my', ' country')

In [205]:
dict = {"s": "123", "d": "456", "f": "789"}
string = "sdf"
print(string.maketrans(dict))

{115: '123', 100: '456', 102: '789'}

In [1]:
string = "I Love My Country"

print(string.rpartition('Love '))

('I ', 'Love ', 'My Country')

In [11]:
firstString = "abc"
secondString = "ghi"
thirdString = "a"

string = "abcdef"
print("Original string:", string)

translation = string.maketrans(firstString, secondString, thirdString)

print("Translated string:", string.translate(translation))

Original string: abcdef
Translated string: hidef

In [16]:
song = 'tahir, tahir khan'
print (song.replace('tahir', 'hamza'))
print (song.replace('tahir', 'hamza',1))

hamza, hamza khan
hamza, tahir khan

In [18]:
q = 'I love my country'

result = q.rfind('my')
print("Substring 'let it':", result)

result = q.rfind('small')
print("Substring 'small ':", result)

Substring 'let it': 7
Substring 'small ': -1

In [30]:
quote = 'Let it be, let it be, let it be'

result = quote.rindex('let it')
print(result)

22

In [37]:
text= 'I love my country'

print(text.split( ))
print(text.split(':'))

['I', 'love', 'my', 'country']
['I love my country']

In [48]:
s = 'Milk, Chicken, Bread, Butter'
print(s.rsplit())
print(s.rsplit(', ',4))

['Milk,', 'Chicken,', 'Bread,', 'Butter']
['Milk', 'Chicken', 'Bread', 'Butter']

In [52]:
s = 'I\nLove\r\nMy\rCountry.'

print(s.splitlines())
print(s.splitlines(True))

s = 'I Love my country.'
print(s.splitlines())

['I', 'Love', 'My', 'Country.']
['I\n', 'Love\r\n', 'My\r', 'Country.']
['I Love my country.']

In [53]:
text = "I Love my country."

result = text.startswith('Love my')
print(result)

result = text.startswith('I Love ')
print(result)

False
True

In [54]:
text = 'muhammad tahir'
print(text.title())

Muhammad Tahir

In [55]:
text = "Muhammad Tahir"
print(text.zfill(15))
print(text.zfill(20))

0Muhammad Tahir
000000Muhammad Tahir

In [56]:
point = {'x':4,'y':-5}
print('{x} {y}'.format_map(point))

4 -5